.img-left {
  float: left;
  width: 60%;
  margin-right: 1em;
}

.center {
  line-height: 200px;
  height: 200px;
  border: 3px solid green;
  text-align: center;
}

.center p {
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/*em {
  font-size: .9rem;
  border-top: 1px solid lightgray;
  padding-top: 1rem;
  display: block;
  line-height: 1.25;
  flex-shrink: 0;
  flex-basis: 9em;
  padding-left: .5rem;
}
*/
