.img-left {
  float: left;
  width: 60%;
  margin-right: 1em;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/*em {
  font-size: .9rem;
  border-top: 1px solid lightgray;
  padding-top: 1rem;
  display: block;
  line-height: 1.25;
  flex-shrink: 0;
  flex-basis: 9em;
  padding-left: .5rem;
}
*/
