---
---



body {
	padding: 2rem;
	font-family: Helvetica, sans-serif;
}

h1 {
	font-weight: bold;
	font-size: 1.4rem;
	margin-bottom: 1rem;
	line-height: 1.4;
}

p {
	max-width: 50rem;
	margin-bottom: 1rem;
	font-size: 1.2rem;
	line-height: 1.45;
}

a {
	color: cornflowerblue;
}

.hasImage {
	display: flex;
	width: 100%;
	margin-bottom: 3rem;
}

img {
	display: block;
	flex-shrink: 1;
	min-width: 0;
	height: auto;
	width: 100%;
	align-self: flex-start;
	margin-right: .5rem;
}

.active {
}

em {
	font-size: .9rem;
	border-top: 1px solid lightgray;
	padding-top: 1rem;
	display: block;
	line-height: 1.25;
	flex-shrink: 0;
	flex-basis: 9em;
	padding-left: .5rem;
}

code {
	font-family: monospace;
	background: #eee;
	padding: 3px;
	border-radius: 2px;
	position: relative;
	top: -2px;
	font-size: 1.2rem;
	margin-left: .3rem;
	margin-right: .3rem;
}
