.img-left {
  float: left;
  height: 50px;
  margin-right: 1em;
}

.center {
  padding: 80px 0;
  border: 3px solid green;
}

/*em {
  font-size: .9rem;
  border-top: 1px solid lightgray;
  padding-top: 1rem;
  display: block;
  line-height: 1.25;
  flex-shrink: 0;
  flex-basis: 9em;
  padding-left: .5rem;
}
*/
