// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  width: auto;
  color: rgba(80, 80, 80, 1.0);
  letter-spacing: 0.4px;
}

h1, h2, h3, h4 {
  font-weight: 450;
}

ul li {
    padding: 5px 0px;
}

ol li {
    padding: 6.5px 0px;
}

.site-title {
  color: rgba(10, 10, 10, 1.0);
  font-family: 'Cairo Play', sans-serif;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  font-size: 17px;
  font-weight: 550;
}

/* Create three equal columns that sits next to each other */
.column {
  flex: 32%;
  max-width: 32%;
  padding: 0 4px;
}

.column img {
  margin-top: 4px;
  vertical-align: middle;
  width: 100%;
  border-radius: 15px;/* Rounds corners */
  transition: transform 0.3s ease, box-shadow 0.3s ease;/* Smooth hover effect */
}

/* Hover effect: Slight zoom-in and float */
.column img:hover {
  transform: scale(1.04); /* Zoom and float */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Subtle shadow */
}

/* Create three equal columns that sits next to each other */
.profile {
  display: flex;
  align-items: flex-start;
}

.profImage {
  margin-left: 1%;
  margin-right: 2%;
  flex: 32%;
  max-width: 32%;
}

.profImage img {
  width: 90%;
  height: auto;
  vertical-align: top;
}

.profText {
  flex: 65%;
  max-width: 65%;
}

.hover-text {
  color:#0096b0; /* Initial color of the text */
  font-weight: bold;
  transition: color 0.3s ease; /* Smooth transition for the color change */
}

.hover-text:hover {
  color: #00d9ff; /* Color of the text when hovered */
  font-weight: bold;
  text-decoration: underline;
}

.paperDetail {
  font-size: 15px;
  font-weight:450;
}

/* Responsive layout - makes a two column-layout instead of three columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
